body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.nav-link{
  display: flex;
  margin: 10px;
}
.nav-link li{
  margin: 10px;
  list-style: none;
}
.nav-link li a{
  text-decoration: none;
  color: white;
}
.nav-link li a:hover{
  color: black;
  background: white;
  transition: 0.2s;
  border-radius: 5px;
}
.nav-link li a:active{
  color: white;
}

.main img{
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid red;
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10%;
  text-align: center;
}

span{
  color: red;
}
.About{
  align-items: center;
  text-align: center;
  background-color: red;
  padding: 20px;
}
.about1 p{
  color: white;
}

.service-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.service-box{
  width: 225px;
  height: 225px;
  background: RED;
  border-radius: 20px;
  border: 2px solid red;
  transition: 0.3s;
}
.service{
  text-align: center;
  padding: 20px;
}
.service-box:hover{
  background-color: white;
}

.Contact{
  text-align: center;
}
.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.form input{
  padding: 20px 10%;
  border-radius: 10px;
  border: 2px solid red;
}
.btn{
  text-decoration: none;
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}
.btn:hover{
  background-color: black;
}

.form input:hover{
 background-color: red;
 transition: 0.3s;
}

footer{
  text-align: center;
  background-color: red;
  padding: 20px;
}
.footer1{
  color: white;
}